/* Đặt các CSS cho phần Login */
.containerLogin, .containerRegister{
  background-image: url('https://res.cloudinary.com/hoahien/image/upload/v1726935914/awdzupi0v4qzclnv0qqu.png');
  background-size: cover;
  background-position: center;
}

.login-form {
    background-color: rgb(255, 255, 255);
    background-position: center;
    border-radius: 8px;        /* Bo góc nhẹ */
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* Đổ bóng nhẹ để nổi bật */
    padding: 20px;             /* Khoảng cách bên trong */
  }
  
  .alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }
  
  h1.text-center {
    margin-bottom: 20px;
  }
  
  .btn-dark {
    background-color: #657c92;
    border-color: #555e68;
    padding: 10px;
    font-size: 18px;
  }
  
  
  